:root {
    --primary-color-light: #0D47A1;
    --secondary-color-light: #FFC107;
    --background-color-light: #F5F5F5;
    --text-color-light: #212121;
  
    --primary-color-dark: #90CAF9;
    --secondary-color-dark: #FFC107;
    --background-color-dark: #121212;
    --text-color-dark: #FFFFFF;
  }
  
  body.light-theme {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
  }
  
  body.dark-theme {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  