/* index.css */
body.light-theme {
  --primary-color: #FFD700; /* Gold */
  --secondary-color: #000000; /* Black */
  --background-color: #FFFFFF; /* Light background for better readability */
  --text-color: #212121;
}

body.dark-theme {
  --primary-color: #FFD700; /* Gold */
  --secondary-color: #FFFFFF; /* White text on dark background */
  --background-color: #121212; /* Dark background */
  --text-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header, .footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.content {
  padding: 20px;
}

